@tailwind base;
@tailwind components;
@tailwind utilities;

.m-l-auto{
   margin-left: auto !important;
}
.m-r-auto{
    margin-right: auto !important;
 }
 .m-x-auto{
    margin-left: auto !important;
    margin-right: auto !important;
 }
 .scroll-black::-webkit-scrollbar{
   width: 10px !important;
}
.scroll-black::-webkit-scrollbar-thumb{
background: #000 !important;
}


.scroll-black::-webkit-scrollbar-track{
 background: transparent !important;
}

.gradient-text {
   @apply bg-clip-text text-transparent;
   background-image: linear-gradient(to right, #ff7e5f, blue);
 }
